/* Images */
#icons {
    height: 30px;
}

#book {
    height: 260px;
    width: 180px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: -12px 12px 15px 1px rgba(0, 0, 0, 0.2);
}

#book_home {
    height: 200px;
    width: 150px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: -12px 12px 15px 1px rgba(0, 0, 0, 0.2);

}

.book_right {
    animation: arise-right 3s ease-in both;
}

.book_left {
    animation: arise-left 3s ease-in both;
}

/* Navbar */
#navbar {
    display: grid;
    position: sticky;
    grid-area: navbar;
    grid-column: 1/-1;
    grid-row: 1;
    top: 0;
    z-index: 2;
    height: 60px;
    grid-template-columns: 3fr repeat(2, 1fr);
    background-color: #f2f2f2;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar Button {
    height: 45px;
    width: 200px;
    align-self: center;
    justify-self: center;
    background-color: #fac000;
    color: black;
    border: 1px solid #f9d14f;
    margin-right: 10px;
}

#navbar Button:hover {
    animation: growth 1s linear both;
}

#navbar h1 {
    grid-column: 1;
    font-size: 30px;
    align-self: center;
    color: #fac000;
}

/* Home */
#home {
    display: grid;
    background-color: #fafdff;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-template-areas:
        "navbar navbar"
        "filter ."
        "cards cards"
    ;
    grid-template-rows: 100px 200px 1fr;
}


#filter {
    padding: 20px;
    width: 500px;
    background-color: rgb(242, 242, 242);
    grid-area: filter;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
    justify-self: center;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

#filter Button {
    width: 70px;
}

#cards {
    display: grid;
    grid-area: cards;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-left: 70px;
    justify-self: center;
    text-align: center;
    justify-items: center;
    font-size: 17px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#card {
    width: 300px;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
    padding: 20px;

    animation: cards_down auto linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

#card img {
    border-radius: 10px;
    width: 100px;
    height: 140px;
}

#card Button {
    width: 90px;
    height: 50px;
    margin-left: 25px;
}

#title_home {
    max-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#title {
    align-self: center;
    justify-self: center;
    grid-column: 1/-1;
}

/* Create Book */

#create_book {
    display: grid;
    height: 100vh;
    background-color: #fafdff;
    grid-template-rows: 100px 300px;
    grid-template-columns: 300px 1fr 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#submit {
    display: grid;
    grid-column: 2;
    grid-row: 2;
}

#table_submit {
    display: grid;
    margin-top: 30px;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 75px);
    width: 600px;
    height: 500px;
    background-color: rgb(242, 242, 242);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#column {
    grid-column: 1/-1;
    height: 50px;
    align-self: center;
}

#table_submit Button {
    grid-row: 6;
}

/* Login */

#login {
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 300px 1fr 300px;
    height: 695px;
    background-color: #fafdff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#table_login {
    display: grid;
    height: 500px;
    grid-column: 2;
    grid-row: 2/4;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 60px);
    gap: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#table_login p {
    grid-column: 1/-1;
    grid-row: 2;
}

#email {
    grid-column: 1/-1;
    grid-row: 3;
}

#password {
    grid-column: 1/-1;
    grid-row: 4;
}

#table_login Button {
    grid-row: 5;
}

#element {
    height: 50px;
    grid-column: span 2;
}

#row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 2/4;
}

/* Recovery */

#recovery {
    display: grid;
    justify-self: center;
    grid-column: 2;
    grid-row: 2;
}

#recovery Form {
    display: grid;
    height: 300px;
    width: 600px;
    grid-template-rows: repeat(3, 100px);
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
}

#recovery h1 {
    font-size: 40px;
}

#recovery Form Button {
    width: 150px;
}

#text_confirm {
    font-size: 20px;
    margin-left: 10px;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

#loading {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}

#circle {
    height: 30px;
    width: 30px;
    margin-left: 2px;
    border-radius: 50%;
    background-color: #ff0000;

    animation: load 5s ease both;
    animation-iteration-count: 3;
}

#circle:nth-child(2) {
    animation-delay: 300ms;
}

#circle:nth-child(3) {
    animation-delay: 600ms;
}

/* change password */
#confirm {
    height: 200px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    background-color: #f2f2f2;

}

#confirm h1 {
    grid-column: span 2;
    margin-top: 10px;
    justify-self: center;
    font-size: 20px;
}

#confirm p {
    justify-self: center;
    grid-column: span 2;
    grid-row: 2;
}

/* Create User */
#create_user {
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(5, 1fr);
    grid-column: 2;
    grid-row: 2;
    height: 500px;
    width: 700px;
    justify-self: center;
    background-color: #f2f2f2;
    border-radius: 10px;
}

#confirm_user {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    display: grid;
    padding: 20px;
    border-radius: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    width: 500px;
    background-color: #f2f2f2;
}

#confirm_user Button {
    grid-row: 5;
}


/* Buttons */
#red_button {
    background-color: #d61111;
    color: #fff;
    border: none;
    justify-self: center;
    align-self: center;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
}

#yellow_button {
    background-color: #fac000;
    color: #0f0f0f;
    border: none;
    justify-self: center;
    align-self: center;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
}

#red_button:hover {
    animation: red-button 700ms linear both;
}

#yellow_button:hover {
    animation: yellow-button 700ms linear both;
}

/* keyframes */

@keyframes growth {
    to {
        width: 250px;
    }
}

@keyframes red-button {
    to {
        background-color: #1192ef;
        color: #0f0f0f;
        border-color: #fff;
    }
}

@keyframes yellow-button {
    to {
        background-color: #2c003d;
        color: #fff;
        border-color: #fff;
    }
}

@keyframes load {
    0% {
        background-color: #d61111;
    }

    50% {
        background-color: #f5cc00;
    }

    100% {
        background-color: rgb(0, 156, 0);
    }
}

@keyframes arise-right {
    0% {
        transform: translateX(300px);
        opacity: 0.5;
        width: 90px;
        height: 130px;
    }

    50% {
        width: 90px;
        height: 130px;
        opacity: 0.5;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        height: 260px;
        width: 180px;
    }
}

@keyframes arise-left {
    0% {
        transform: translateX(-300px);
        opacity: 0.5;
        width: 90px;
        height: 130px;
    }

    50% {
        width: 90px;
        height: 130px;
        opacity: 0.5;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        height: 260px;
        width: 180px;
    }
}

@keyframes cards_down {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* media query */

@media(max-width: 1300px) {
    #book_home {
        display: none;
    }

    #book {
        display: none;
    }
}

@media(max-width: 640px) {
    #navbar Button {
        height: 40px;
        width: 150px;
    }
}

@media(max-width: 400px) {
    #navbar {
        grid-template-columns: 160px 110px 110px;
    }

    #navbar Button {
        height: 40px;
        width: 100px;
        font-size: 13px;
    }

    #navbar Button:hover {
        animation: yellow-button 700ms linear both;
    }

    #navbar h1 {
        font-size: 20px;
    }

    #filter {
        width: 340px;
        margin-left: 20px;
    }

    /* login */
    #login {
        grid-template-rows: 80px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #table_login {
        width: 350px;
        height: 380px;
        margin-right: 20px;
        font-size: 11px;
        text-align: center;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    #login Button {
        height: 40px;
        width: 100px;
        font-size: 13px;
    }

    #recovery Form {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        width: 350px;
        margin-right: 20px;
    }

    #recovery h1 {
        font-size: 35px;
    }

    #container_confirm {
        width: 350px;
        margin-right: 20px;
        text-align: center;
        padding: 10px;
    }

    #confirm {
        width: 350px;
        height: 200px;
        margin-right: 20px;
        text-align: center;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}